<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">All <%= controller_path.split('/').last.to_s.titleize.pluralize %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

      <table class="table table-striped table-hover ">

        <thead class="bg-primary text-white ">
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Reports</th>
          <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <% @swishes.each do |swish| %>
          <tr>
            <td>
              <%= link_to "##{swish.id}", users_swish_url(swish), title: "Show Swish" %>
            </td>
            <td>
              <%= swish.url %>
              <a href="<%= swish.url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a>
            </td>
            <td>
              <%= swish.swish_reports.count %>
            </td>
            <td>
              <%= swish.created_at.to_formatted_s(:long) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>