<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"> Swish "<%= @swish.url %>"
    <small><a href="https://<%= @swish.url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a></small>
  </h1>
  <div class="btn-group">
    <a class="btn btn-light btn-sm" href="?toggle=<%= @swish.allow_pwa ? 'false' : 'true' %>">
      <%= @swish.allow_pwa ? 'Hide' : 'Show' %> PWA
    </a>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".collapse-stats" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Show
      Stats
    </button>
  </div>
</div>
<div class="row">
  <div class="col text-right">
    <div class="btn-group mb-3">
      <a href="https://developers.google.com/web/tools/lighthouse/v3/scoring" class="btn btn-default btn-sm" data-toggle="tooltip" title="0 to 49 (not good): Red; 50 to 89 (average): Orange; 90 to 100 (good): Green" target="_blank">
        <i class="fas fa-info-circle"></i> Lighthouse Scoring Guide
      </a>
      <button class="btn btn-light btn-sm " data-copy="#webhook" data-toggle="tooltip" title="Copy to Clipboard">
        <i class="fas fa-copy"></i> Copy Webhook URL
        <input id="webhook" class="d-none" value="http://swish.prikeshsavla.com/api/v1/swish/generate?key=<%= @swish.user.api_key %>&host=<%= @swish.url %>">
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="accordion">
      <% @swish_reports.each_with_index do |(url, swish_reports), index| %>
        <div class="card">
          <div class="card-header p-0" id="headingOne">
            <button class="btn btn-default btn-block text-left" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="true" aria-controls="collapse-<%= index + 1 %>">
              Path: <%= URI(url).path == "" ? "/" : URI(url).path %>
              <small class="float-right"><a href="<%= url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a></small>
            </button>
          </div>

          <div id="collapse-<%= index + 1 %>" class="collapse
            <% if index == 0 %>show
            <% end %>" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordion">
            <div class="">
              <%= render partial: 'swish_report_table', locals: {swish: @swish, swish_reports: swish_reports, swish_reports_description: @swish_reports_description[url]} %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <!--    <div class="card ">-->
    <!--      <div class="card-body">-->
    <%#= render partial: 'swish_report_table', locals: {swish_reports: @swish.swish_reports, swish_reports_description: @swish_reports_description} %>
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>