<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= controller_path.split('/').last.to_s.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header bg-primary text-white">
        Swish #<%= @swish.id %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @swish.url %>
          <a href="<%= @swish.url %>" target="_blank" title="Open Link"><i class='fas fa-external-link-alt'></i></a>
        </h5>
        <div class="card-text">
        </div>
        <% if @swish.data.present? %>
          <table class="table table-sm w-50 mt-4">
            <% @swish.data.each do |index, value| %>
              <tr>
                <th><%= value["name"] %></th>
                <td><%= value["value"] %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <a href="#" class="btn btn-primary">Show similar</a>
      </div>
    </div>
  </div>
</div>