<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Swish Insights</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Catamaran:600|Lato&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>

  <script src="https://kit.fontawesome.com/9f52a38b4d.js" crossorigin="anonymous"></script>
</head>

<body>


<%= render 'shared/layouts/components/navigation' %>
<div class="container">
  <main role="main" class=" px-4">
    <%= yield %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <%= message %>
        <button class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

  </main>

</div>
</body>
</html>