<!DOCTYPE html>
<html>
<head>
  <title>SwishRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Catamaran:700|Lato&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'swish', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Swish</a>
  <!--  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <ul class="navbar-nav px-3">
    <li class="nav-item ">
      <%= link_to('Edit Profile', edit_user_registration_url, class: "nav-link") %>
    </li>
    <li class="nav-item ">
      <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
             <i class="fa fa-chart-line"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= users_swish_index_url %>">
             <i class="fa fa-list-ul"></i>
              All Swishes
            </a>
          </li>
          <li class="nav-item">
            <a href="<%= new_users_swish_url %>" class="nav-link">
              <i class="fas fa-plus"></i>
              Create a New Swish
            </a>
          </li>
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#">-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">-->
          <!--                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>-->
          <!--                <polyline points="13 2 13 9 20 9"></polyline>-->
          <!--              </svg>-->
          <!--              Orders-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#">-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">-->
          <!--                <circle cx="9" cy="21" r="1"></circle>-->
          <!--                <circle cx="20" cy="21" r="1"></circle>-->
          <!--                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>-->
          <!--              </svg>-->
          <!--              Products-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#">-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">-->
          <!--                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>-->
          <!--                <circle cx="9" cy="7" r="4"></circle>-->
          <!--                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>-->
          <!--                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>-->
          <!--              </svg>-->
          <!--              Customers-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#">-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">-->
          <!--                <line x1="18" y1="20" x2="18" y2="10"></line>-->
          <!--                <line x1="12" y1="20" x2="12" y2="4"></line>-->
          <!--                <line x1="6" y1="20" x2="6" y2="14"></line>-->
          <!--              </svg>-->
          <!--              Reports-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#">-->
          <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">-->
          <!--                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>-->
          <!--                <polyline points="2 17 12 22 22 17"></polyline>-->
          <!--                <polyline points="2 12 12 17 22 12"></polyline>-->
          <!--              </svg>-->
          <!--              Integrations-->
          <!--            </a>-->
          <!--          </li>-->
        </ul>

        <!--        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
        <!--          <span>Saved reports</span>-->
        <!--          <a class="d-flex align-items-center text-muted" href="#">-->
        <!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">-->
        <!--              <circle cx="12" cy="12" r="10"></circle>-->
        <!--              <line x1="12" y1="8" x2="12" y2="16"></line>-->
        <!--              <line x1="8" y1="12" x2="16" y2="12"></line>-->
        <!--            </svg>-->
        <!--          </a>-->
        <!--        </h6>-->
        <!--        <ul class="nav flex-column mb-2">-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="#">-->
        <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">-->
        <!--                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>-->
        <!--                <polyline points="14 2 14 8 20 8"></polyline>-->
        <!--                <line x1="16" y1="13" x2="8" y2="13"></line>-->
        <!--                <line x1="16" y1="17" x2="8" y2="17"></line>-->
        <!--                <polyline points="10 9 9 9 8 9"></polyline>-->
        <!--              </svg>-->
        <!--              Current month-->
        <!--            </a>-->
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="#">-->
        <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">-->
        <!--                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>-->
        <!--                <polyline points="14 2 14 8 20 8"></polyline>-->
        <!--                <line x1="16" y1="13" x2="8" y2="13"></line>-->
        <!--                <line x1="16" y1="17" x2="8" y2="17"></line>-->
        <!--                <polyline points="10 9 9 9 8 9"></polyline>-->
        <!--              </svg>-->
        <!--              Last quarter-->
        <!--            </a>-->
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="#">-->
        <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">-->
        <!--                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>-->
        <!--                <polyline points="14 2 14 8 20 8"></polyline>-->
        <!--                <line x1="16" y1="13" x2="8" y2="13"></line>-->
        <!--                <line x1="16" y1="17" x2="8" y2="17"></line>-->
        <!--                <polyline points="10 9 9 9 8 9"></polyline>-->
        <!--              </svg>-->
        <!--              Social engagement-->
        <!--            </a>-->
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="#">-->
        <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">-->
        <!--                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>-->
        <!--                <polyline points="14 2 14 8 20 8"></polyline>-->
        <!--                <line x1="16" y1="13" x2="8" y2="13"></line>-->
        <!--                <line x1="16" y1="17" x2="8" y2="17"></line>-->
        <!--                <polyline points="10 9 9 9 8 9"></polyline>-->
        <!--              </svg>-->
        <!--              Year-end sale-->
        <!--            </a>-->
        <!--          </li>-->
        <!--        </ul>-->
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <%= yield %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= message %>
          <button class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

    </main>
  </div>
</div>


</body>
</html>
