<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-2 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    Summary
  </h1>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body"><h2><%= @data.total_swishes %> </h2>
        <span>+ <%= @data.total_swishes_this_month %> (This Month)</span></div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Websites</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-body"><h2><%= @data.total_swish_reports %> </h2>
        <span>+ <%= @data.total_swish_reports_this_month %> (This Month)</span></div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Reports Generated</span>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-success text-white mb-4">
      <div class="card-body"><h2><%= @data.top_score_swish.score %> </h2>
        <%= link_to "#{@data.top_score_swish.url}", users_swish_url(@data.top_score_swish), title: "Show Swish", class: "text-white" %>

      </div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Top Score</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-info text-white mb-4">
      <div class="card-body"><h2><%= @data.lowest_score_swish.score %> </h2>
        <%= link_to "#{@data.lowest_score_swish.url}", users_swish_url(@data.lowest_score_swish), title: "Show Swish", class: "text-white" %>

      </div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Lowest Score</span>

      </div>
    </div>
  </div>
</div>