<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mt-2 ">
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body"><h2><%= @data.total_swishes %> </h2>
        <span>+ <%= @data.total_swishes_this_month %> (This Month)</span></div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Websites</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-body"><h2><%= @data.total_swish_reports %> </h2>
        <span>+ <%= @data.total_swish_reports_this_month %> (This Month)</span></div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Reports Generated</span>

      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-success text-white mb-4">
      <div class="card-body"><h2><%= @data.top_score_swish.score %> </h2>
        <%= link_to "#{@data.top_score_swish.url}", users_swish_url(@data.top_score_swish), title: "Show Swish", class: "text-white" %>

      </div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Top Score</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-info text-white mb-4">
      <div class="card-body"><h2><%= @data.lowest_score_swish.score %> </h2>
        <%= link_to "#{@data.lowest_score_swish.url}", users_swish_url(@data.lowest_score_swish), title: "Show Swish", class: "text-white" %>

      </div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class=" text-white ">Lowest Score</span>

      </div>
    </div>
  </div>

  <div class="col-12 mt-5">
    <h4>Last 5 Reports Generated
      <small class="float-right"><%= link_to 'View All', users_swish_index_url, title: "Show Swish" %></small></h4>
    <div class="table-responsive">
      <table class="table table-sm ">
        <thead>
        <tr>
          <th> Created At</th>
          <th>URL</th>
          <th>Accessibility</th>
          <th>Performance</th>
          <% if current_user.allow_pwa %>
            <th>PWA</th>
          <% end %>
          <th>SEO</th>
          <th>Best-Practices</th>
          <th>First Contentful Paint</th>
          <th>First CPU Idle</th>
          <th>First Meaningful Paint</th>
          <th>Estimated Input Latency</th>
          <th>Time To Interactive</th>
          <th>Speed Index</th>
          <th>View Report</th>
        </tr>
        </thead>
        <% @data.swish_reports.each_with_index do |swish_report, index| %>
          <tr>
            <th style="width: 6rem" data-order="<%= swish_report.created_at.to_i %>"><%= swish_report.created_at.to_formatted_s(:short) %></th>
            <td> <%= link_to swish_report.url, users_swish_url(swish_report.swish), title: "Show Swish" %> </td>
            <td>  <%== diplay_with_group_color(swish_report.accessibility) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.performance) %> </td>
            <% if current_user.allow_pwa %>
              <td>  <%== diplay_with_group_color(swish_report.pwa) %> </td>
            <% end %>
            <td>  <%== diplay_with_group_color(swish_report.seo) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.best_practices) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.first_contentful_paint) %> </td>

            <td>  <%== diplay_with_group_color(swish_report.first_cpu_idle) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.first_meaningful_paint) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.estimated_input_latency) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.time_to_interactive) %> </td>
            <td>  <%== diplay_with_group_color(swish_report.speed_index) %> </td>
            <td>
              <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=<%= swish_report.gist_id %>" target="_blank">View</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-12 pb-5 mt-5">
    <h4 class="mt-3">Activity Map of All Sites </h4>
    <div style="max-width: 100%; overflow-x: scroll">
      <div id="activity-heatmap" data-chart="heatmap" data-start-at="<%= DateTime.now.beginning_of_year.to_i * 1000 %>" data-end-at="<%= DateTime.now.end_of_year.end_of_day.to_i * 1000 %>" data-datapoints='<%= @data.activity.to_json %>'></div>
    </div>
  </div>
</div>
