<!DOCTYPE html>
<html>
<head>
  <title>Swish Insights</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Catamaran:700|Lato&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'frontend', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/9f52a38b4d.js" crossorigin="anonymous"></script>
</head>

<body>
<%= render 'shared/layouts/components/navigation' %>
<%= yield %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-default bg-light alert-dismissible fade show" role="alert">
    <%= message %>
    <button class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Prikesh Savla 2020</p>
  </div>
  <!-- /.container -->
</footer>
</body>
</html>
